<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-lazy-init="true">

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config />

	<!-- Activates scanning of @Repository and @Service -->
	<context:component-scan base-package="de.piratenpartei.berlin.ldadmin.app" />

	<!-- Add new DAOs here -->

	<!-- Add new Managers here -->

	<!-- Job Scheduler and initialization of jobs -->
	<task:scheduler id="jobScheduler" pool-size="1" />

	<task:scheduled-tasks scheduler="jobScheduler">
	
		 <task:scheduled ref="jobBean" method="deleteProtocolsAndWorkLists"
			fixed-delay="3600000" initial-delay="3000" />
		<task:scheduled ref="jobBean" method="autoexecNewMembersList"
			fixed-delay="60000" initial-delay="3000" />
			
		<task:scheduled ref="jobBean"
			method="autoexecPseudonymisationMembersList" fixed-delay="60000"
			initial-delay="6000" />
			
		<task:scheduled ref="jobBean" method="autoexecLeavingMembersList"
			fixed-delay="60000" initial-delay="9000" />
			
		<task:scheduled ref="jobBean" method="autoexecMemberDeletion"
			fixed-delay="60000" initial-delay="5000" /> 

		<!-- task:scheduled ref="jobBean" cron="0 0 0 27-31 * ?"
			method="autoexecIssuesCleaning"  /-->
			
		<task:scheduled ref="jobBean" cron="*/15 * * * * *"
			method="autoexecFinishedInitiativesDocumentation"  />
			
	</task:scheduled-tasks>
	<!-- Configure and Alternative PasswordTokenManager -->
	<!-- <bean id="passwordTokenManager" class="de.piratenpartei.service.impl.PersistentPasswordTokenManagerImpl" 
		autowire="default" /> -->
</beans>